.breakLine{
    display: flex;
    width: 90%;
    height: .4vh;
    background-color: rgb(105, 77, 77);
    margin: auto;
}

.about-title{
    font-size: 50px;
    text-align: center;
    display: flex;
}

.dot{
    height: 10px;
    width: 20px;
    background-color: rgb(9, 2, 2);
    border-radius: 50px;
    margin: auto;
}

.container{
    justify-content: center;
}

.icon a{
    margin: auto;
    margin-left: 20px
}

.icon{
    margin-bottom: 20px;
}