.about-title {
  font-size: 50px;
  text-align: center;
  display: flex;
}

.container {
  justify-content: center;
}

.icon a {
  margin: auto;
  margin-left: 20px;
}

.icon {
  margin-bottom: 20px;
}
