main {
    height: 100vh;
  }
  
  input {
    max-width: 700px;
  }
  
  .resolution-content {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 300px;
  }
  
  .search-box-container {
    justify-content: center;
  }
  