.svg {
  fill: #ffffff;
}

@media (min-width: 770px) {
  .link-text {
    display: none;
  }
}

@media (max-width: 770px) {
  .svg {
    display: none;
  }
}

@media (max-width: 880px) {
  .search {
    max-width: 140px;
  }

  .filter {
    max-width: 2rem;
  }
  .brand-logo {
    justify-content: center;
  }
  .brand-logo h1 {
    font-size: 0.5em;
  }

  .auth-link {
    margin-top: 10px;
  }
}
